html,
body {
	height: 100%;
}

body {
	background-color: peachpuff;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	font-family: helvetica, arial, sans-serif;
}

.main {
	background-color: rgba(255,255,255,0.75);
	border-radius: 50px;
	max-width: 600px;
	margin: 0 auto; /* centres the element */
	padding: 30px;
	box-shadow: 0px 0px 10px 10px peachpuff;
}

h1 {
	font-family: 'Nunito', sans-serif;
	text-shadow: 0px 0px 50px peachpuff;
	font-size: 50px;
	text-align: center;
	margin: 0
}
h2{
	text-align: center;
	margin-top: 0;
	font-weight: normal;
	letter-spacing: 10px;
	text-transform: uppercase;
}

h3 + * {
	display: none;
}

h3 {
	margin-bottom: 0;
}
h3:hover {
	cursor: pointer;
	text-decoration: underline;
}

img {
	display: block;
	margin: 0 auto;
	border: 40px dotted white;
	border-radius: 50%
}

p,
ul,
ol {line-height: 1.6;
	list-style: none;
	padding-left: 0;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	transform: rotateZ(360deg);
	display: inline-block;
	transition: transform 150ms;
}